.carrousel{
    position: absolute;
    left:  25vw;
    top: 25vh;
    height: 50vh;
    width: 50vw;
    background-color: green;
    padding: 25px;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.carrousel--ouvrir{
    transform: scale(1);
    opacity: 1;
}

.btn_fermer{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    width: 2rem;
    height: 2rem;
    background-color: green;
    border: none;
    color: white;
    font-weight: 700;
}