.carrousel{
    position: fixed;
    left:  12.5vw;
    top: 12.5vh;
    height: 75vh;
    width: 75vw;
    background-color: black;
    padding: 25px;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    z-index: 1;
}

.carrousel--ouvrir{
    transform: scale(1);
    opacity: 1;
}

.btn_fermer{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
    z-index: 3;
}

.btn_fermer:hover{
    color: green;
    background-color: #fff;
}

.carrousel__figure__img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.carrousel__figure__img--activer{
    opacity: 1;

}

.carrousel__form{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.carrousel__form input[type="radio"] {
    appearance: none;
    background-color: lightgrey;
    opacity: .75;
    margin: 15px;
    color: green;
    width: 0.75em;
    height: 0.75em;
    //border: 0.15em solid green;
    border-radius: 50%;
    display: grid;
    place-content: center;
  }


  .carrousel__form input[type="radio"]::before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em green;
    background-color: green;
  }
  
  .carrousel__form input[type="radio"]:checked::before {
    transform: scale(1);
  }


  .carrousel .fleche{
    z-index: 4;
  }

  .carrousel button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline:0;
  }
  
  .carrousel svg {
    padding: 5px;
  }
  
  .carrousel .fleche {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    margin-left: -40px;
    width: 70px;
    height: 90px;
  
  }
  
  .gauche {
    left: 5%;
  }
  
  .droite {
    left: 95%;
  }
  
  .gauche:hover polyline,
  .droite:hover polyline {
    stroke-width: 3;
    stroke: green;
  }
  
  .gauche:active polyline,
  .droite:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
  }
  

  polyline {
    stroke-width: 3;
    transition: all 250ms ease-in-out;
  }